.bar {
    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: 2%;
    background-color: lightgrey;
}

/* .navbar-toggler {
    color:green;
    background-color: blue;
} */

.standout {
    background-color: Teal;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: white;
    font-weight: bold;
    margin: 0rem;
    font-size: 150%;
}

.btn {
    background-color: lightgrey;
    /* color: teal; */
    border-color: lightgrey;
    font-weight: bold;
}

.btn:hover {
    /* color: white; */
    font-weight: bold;
    background-color: teal;
    border-color: lightgrey;
}

#uno, #dos, #tres, #quatro{
    color: teal;
}

#uno:hover, #dos:hover, #tres:hover, #quatro:hover{
    color: white;
}

#uno:active, #dos:active, #tres:active {
    background-color: #367588;
    border-color: #367588;
}

#quatro:focus {
    background-color: teal;
    border-color: teal;
    color:white;
}

/* #quatro {
    margin-right: .5rem;
} */

.dropdown-menu {
    background-color: lightgrey;
}

.dropdown-item {
    color: teal;
    font-weight: bold;
    text-align: center;
}

.dropdown-item:hover {
    color:white;
    font-weight: bold;
    background-color: teal;
}

.dropdown-item:active {
    background-color: #367588;
}

body {
    background-color: grey;
}

hr {
    border-width: 3px;
    color: grey;
}

.focus {
    margin-top: 9%;
}

.end {
    margin-bottom: 9%;
}

.butt {
    background-color: lightgrey;
    overflow: auto;
}

.side {
    background-color: lightgrey;
    margin-top: 10%;
    margin-left: 7%;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: lightgrey;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: teal;
}

.starboard {
    margin-left: 2%;
    margin-right:2%;
}

h1, h5 {
    color: teal;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

.clicky:hover {
    text-decoration: none;
}

#pic {
    margin-right: 5%;
    margin-top: 2%;
    float: left;
}

#beg {
    margin-top: 4%;
}

#disclaimer {
    padding-top: .5rem;
    padding-bottom: 1.5rem;
}