.bar {
    padding-bottom: 0%;
    padding-top: 0%;
    padding-left: 5%;
    background-color: lightgrey;
}

.standout {
    background-color: Teal;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: white;
    font-weight: bold;
    margin: 0rem;
    font-size: 150%;
}

.btn {
    background-color: lightgrey;
    color: teal;
    border-color: lightgrey;
    font-weight: bold;
}

.btn:hover {
    color: white;
    font-weight: bold;
    background-color: teal;
    border-color: lightgrey;
}

#uno:active, #dos:active {
    background-color: #367588;
    border-color: #367588;
}

#btnGroupDrop1:focus {
    background-color: teal;
    border-color: teal;
}

#btnGroupDrop1 {
    margin-right: .5rem;
}

.dropdown-menu {
    background-color: lightgrey;
}

.dropdown-item {
    color: teal;
    font-weight: bold;
    text-align: center;
}

.dropdown-item:hover {
    color:white;
    font-weight: bold;
    background-color: teal;
}

.dropdown-item:active {
    background-color: #367588;
}

body {
    background-color: grey;
}